

/**
 * ハイレゾ対応
 */

body {
  // ハイレゾ対応ディスプレイでフォントが滑らかに
  // -webkit-font-smoothing: antialiased;
  // font-smoothing: antialiased;
  font-family: $font-family-sans-serif;
  background-color: $body-bg;
}

@mixin bg-2x($one, $two) {
  background-image:
  url($one);
  background-image:
  -webkit-image-set(
                  url($one) 1x,
                  url($two) 2x
  );
  background-image:
  image-set(
                  url($one) 1x,
                  url($two) 2x
  );
}



/**
 * global setting
 */

.serif {
    font-family: $font-family-serif;
}

.bb {
    border-bottom: 4px solid #333;
}

a {
    color: #333;
    transition: all .3s;
    img {
        transition: all .3s;
    }
    &:hover {
        text-decoration: none;
        color: #999;
        img {
            opacity: .8;
        }
    }
}


/**
 * global layout
 */
