// 色設定
$color-new-graduates: #ede939;
$color-mid-career: #a4d65e;

// フォント設定
$font-family-sans-serif: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;

//レイアウト設定
$global-header-height: 80px;

$img_path: '../images';
 
